<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="o_linux_cmd.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <o_linux_cmd.app>
            <setting name="Auto_Start_Config" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Skip_Version_Config" serializeAs="String">
                <value>0.0.0</value>
            </setting>
            <setting name="Min_Tray_Config" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Close_Tray_Config" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Update_Cycle_Config" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Last_Time_Config" serializeAs="String">
                <value>2018-10-08 05:20:00</value>
            </setting>
        </o_linux_cmd.app>
    </userSettings>
</configuration>